django>=4.2,<5.0
daphne
langgraph
langchain
langchain-openai
psycopg2-binary
pgvector
redis
django-redis
langchain-postgres
python-dotenv
pydantic
pydantic-settings
pytest
pytest-django
dj-database-url
langgraph-checkpoint-postgres
psycopg[pool]
pandas
openpyxl
